.label-welcome{
    text-align: center;
    font-family: "Futura Medium";
    font-size: 22pt;
    color:rgb(38, 81, 126);
}

.label-warning{
    text-align: center;
    font-family: "Futura Medium";
    font-size: 14pt;
    color:rgb(38, 81, 126);
}

.label-norekpenyetor{
    text-align: center;
    font-family: "Futura Medium";
    font-size: 20pt;
    color:rgb(38, 81, 126);
}

.label-norekpenyetor-1{
    text-align: center;
    font-family: "Futura Medium";
    font-size: 14pt;
    color:rgb(38, 81, 126);
}

@font-face {
    font-family:"Futura Medium";
    src: url("../../resource/fonts/FuturaStd-Medium.ttf");
}

.txtarea{
    position: fixed;
    top:200px;
    left: 200px;
    margin: 0 0 5px;
    padding: 5px;
    width: 400px;
    height: 150px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background-color: transparent;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    
    -webkit-user-select:none;
    -webkit-user-drag: none;
    cursor: default;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}